<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#">
						<img src="../../static/images/logo.png" alt="Логотип TIME2RUN">
					</a>
				</div>
				<div class="menu">
					<nav>
	      				<ul>
				      		<li>
				      			<a href="#">
				      				&mdash;
				      			</a>
				      		</li>
				      		<li><a href="#" th:text="#{header.league}"></a></li>
				      		<li><a href="#" th:text="#{header.clubs}"></a></li>
				      		<li><a href="#" th:text="#{header.volunteers}"></a></li>
				      		<li><a href="#" th:text="#{header.contacts}"></a></li>
				      		<li><a href="#" th:text="#{header.shop}"></a></li>
				      		<li><a href="#" th:text="#{header.blog}"></a></li>
				      		<li><a href="#" th:text="#{header.photo}"></a></li>
				      		<li><a href="#" th:text="#{header.faq}"></a></li>
				      		<li><a href="#" th:text="#{header.enter}"></a></li>
	      				</ul>
	      			</nav>
				</div>
			</div>
		</header>
	</body>
</html>