<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#">
						<img src="/../images/logo.png" alt="TIME2RUN" width="400px" height="200px">
					</a>
				</div>
				<div class="menu">
					<nav>
	      				<ul>
				      		<li>
				      			<a class = 'header_link' href="#">
				      				&mdash;
				      			</a>
				      		</li>
				      		<li><a class = 'header_link' href="../events" th:text="#{header.races}"></a></li>
				      		<li><a class = 'header_link' href="#" th:text="#{header.clubs}"></a></li>
				      		<li><a class = 'header_link' href="#" th:text="#{header.volunteers}"></a></li>
				      		<li><a class = 'header_link' href="#" th:text="#{header.runners}"></a></li>
				      		<li><a class = 'header_link' href="#" th:text="#{header.routes}"></a></li>
				      		<li><a class = 'header_link' href="#" th:text="#{header.enter}"></a></li>
	      				</ul>
	      			</nav>
				</div>
				<div class="choice_language">
					<ul>
						<li><a class = 'header_link' onclick="switchLocale('ru')" href="#">RU</a></li>
						<li><a class = 'header_link' onclick="switchLocale('by')" href="#">BY</a></li>
						<li><a class = 'header_link' onclick="switchLocale('en')" href="#">EN</a></li>
					</ul>
				</div>
			</div>
		</header>
	</body>
</html>