<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../static/css/header_styles.css">
	</head>
	<body>
	<!--<div class="1" th:fragment="header">
	    Some buttons and links will be here...
	</div> -->
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#">
						<img src="../../static/images/logo.png" alt="Логотип TIME2RUN">
					</a>
				</div>
				<div class="menu">
					<nav>
	      				<ul>
				      		<li>
				      			<a href="#">
				      				&mdash;
				      			</a>
				      		</li>
				      		<li><a href="#">лига</a></li>
				      		<li><a href="#">клубы</a></li>
				      		<li><a href="#">волонтеры</a></li>
				      		<li><a href="#">контакты</a></li>
				      		<li><a href="#">магазин</a></li>
				      		<li><a href="#">блог</a></li>
				      		<li><a href="#">фото</a></li>
				      		<li><a href="#">faq</a></li>
				      		<li><a href="#">вход</a></li>
	      				</ul>
	      			</nav>
				</div>
			</div>
		</header>
	</body>
</html>