<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  </head>
  <body>
    <div th:fragment="raceSelect">
      <button>Показать последние события</button>
      <div>
      <button>спрятать</button>
      <div id="race_list">
      <p>гонка 1</p>
      <p>гонка 2</p>
      <p>гонка 3</p>
      <p>гонка 4</p>
      <p>гонка 5</p>
      <p>гонка 6</p>
      <p>гонка 7</p>
      <p>гонка 8</p>
      <p>гонка 9</p>
      <p>гонка 10</p>
      </div>
      <button>искать другие</button>
      </div>
    </div>
  </body>
</html>