<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  </head>
  <body>
    <div th:fragment="raceSelect">
      <button class="race_search_button" id="show_last_events" th:text="#{raceresult.show_last_event_button}"></button>
      <div id = "race_list_wrapper">
      <button class="race_search_button" id="hide_race_list_panel" th:text="#{raceresult.hide_button}"></button>
      <div class = "race_select_panel_item" id="race_list">
      <div>
      <table>
		<tr th:each="race : ${races}">
				<td th:text="${race.raceName}"></td>
			</tr>
		</table>
      </div>
      </div>
      <button class="race_search_button" id="seek_other_races_button" th:text="#{raceresult.search_others_button}"></button>
      </div>
      <div class = "race_select_panel_item" id="race_search_panel">
      <div>Some search options...
      </div>
      <button class = "race_search_button" id="hide_search_race_panel_button" th:text="#{raceresult.hide_search_panel_button}"></button>
      </div>
    </div>
  </body>
</html>