body .header_link {
	font-family: var(--font_0);
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	color: var(--main-black);
	text-decoration: none;
	text-transform: uppercase;
}

header .wrapper {
	position: relative;
	margin: 0 auto;
	max-width: var(--main-width);
}

header .menu ul {
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: 50px;
}

header li {
	list-style: none;
}

header .logo img {
	padding-left: 10%;
	transition: 700ms;
}

header .logo img:hover {
	transform: scale(0.8);
}

header li a {
	display: block;
	transition: 700ms;
}

header li a:hover  {
	transform: scale(0.8);
	color: #040000;
}


header li:last-child a {
	border-radius: 30px;
	box-sizing: border-box;
}

header .menu li:first-child a {
	text-shadow: 0px 9px 1px black, 0px -9px 1px black /* Параметры тени */
}

header .choice_language {
	width: 100px;
	position: absolute;
	top: 10%;
	right: 10%;
}

header .choice_language ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;

}

header .choice_language ul li {
	display: block;
}

header .choice_language ul li a {
	display: block;
	width: 100%;
	font-size: 14px;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 3px;
}