#race_list {
	height: 90px;
}

#show_last_events{
	margin-top: 10px;
}

#hide_race_list_panel{
	margin-top: -20px;
}

.race_select_panel_item{
	background: rgb(248, 248, 248);
	font-family: 'Niconne', cursive;
	font-weight: bold;
	font-size: 18px;
	overflow: auto;
	border-top-left-radius: 50px 20px; 
	border-top-right-radius: 50px 20px; 
	border-bottom-left-radius: 50px 20px; 
	border-bottom-right-radius: 50px 20px; 
	border: 10px solid transparent;
	margin: 20px;
}

#race_search_panel {
	width: auto;
}

.race_search_button{
	height: 30px;
	border-top-left-radius: 20px 10px; 
	border-top-right-radius: 20px 10px; 
	border-bottom-left-radius: 20px 10px; 
	border-bottom-right-radius: 20px 10px; 
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	background: red;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

.jspHorizontalBar
{
	background: red;
	bottom: 0;
	height: 16px;
	left: 0;
	position: absolute;
	width: 100%;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	cursor: pointer;
	left: 0;
	position: relative;
	top: 0;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	cursor: pointer;
        direction: ltr;
	display: block;
	margin: 0;
	padding: 0;
	text-indent: -20000px;
}

.jspDisabled
{
	background: #80808d;
	cursor: default;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	float: left;
	height: 100%;
	width: 16px;
}

.jspVerticalBar .jspArrow:focus
{
        border: 1px solid red;
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

.jspVerticalBar {
   width: 30px;
}
.jspTrack {
   width: 30px;
   background-color: rgb(78, 78, 78);
}
.jspDrag {
   width: 30px;
   background-color: #ccc;
}

