.error{
    color: red;
    font-size: 15px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
} 

.container{
	font-family: 'Niconne', cursive;
	font-weight: bold;
	font-size: 14px;
}

#raceheader{
	background: rgb(208, 208, 208);
	width: 800px;
	height: 120px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
