<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{app.title}">Title</title>
<link rel="icon" href="/images/icon.png" type="image/png">
<link rel="stylesheet" th:href="@{/css/header_styles.css}" />
<link rel="stylesheet" th:href="@{/css/race/race_styles.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/scripts/race/race.js"></script>
<script src="/scripts/header/header.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="race_container">
		<div class = "race_info_wrapper">
				<div id="race_name" th:text="${race.raceName}"></div>
				<div class="race_description">
				<div>
					<span class="race_description_property" th:text="#{race.eventDate}"></span>: <span
						class="race_description_value" th:text="${race.raceDate}"></span>
				</div>
				<div>
					<span class="race_description_property" th:text="#{race.eventLocation}"></span>: <span
						class="race_description_value" th:text="${race.parkName}"></span>
				</div>
			</div>
		</div>
		<div class="results_wrapper">
			<div class="gendergrouptitle" th:text="#{race.mensResults}"></div>
		<div th:each="result : ${race.menResult}">
			<div th:replace="fragments/racePageResultList :: resultList"></div>
		</div>
		<div class="gendergrouptitle" th:text="#{race.womensResults}"></div>
		<div th:each="result : ${race.womenResult}">
			<div th:replace="fragments/racePageResultList :: resultList"></div>
		</div>
		</div>
	</div>
</body>
</html>